email=tajroshith@gmail.com
#always-auth=true
#_auth=YWRtaW46MTIzNA==
#registry.npmjs.org/:_auth=YWRtaW46MTIzNA==
//172.31.42.82:8081/taj/repository/nodejs/:_authToken=NpmToken.bd1b11fa-d5b3-39e3-917f-c17c6b4f2ff8
allowRepublish=true
