email=tajroshith@gmail.com
#always-auth=true
#_auth=YWRtaW46MTIzNA==
#registry.npmjs.org/:_auth=YWRtaW46MTIzNA==
//13.201.18.189:8081/repository/nodejs-app/:_authToken=NpmToken.5616d113-d06a-36ab-9516-d12c94a8ae24
allowRepublish=true
