email=tajroshith@gmail.com
#always-auth=true
#//registry.npmjs.org/:_auth=YWRtaW46cGFzc3cwcmQ=
//13.127.86.172:8081/repository/nodejs-app/:_authToken=NpmToken.1d14b23b-f364-34e3-b978-7004eae29a74
allowRepublish=true
